/* 
    On this file will contain all the necessary global
    css rules that is essentiall for every view of our application.
 */

*
{
    margin: 0;
    padding: 0;
}

.flex-row
{
    display: flex;
    flex-direction: row;
}

